.demo-card-square.mdl-card {
	width: 320px;
	margin-top: 90px;
}
.modal-content {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	height: 48%;
  width: 80%;
  margin: auto;
	background-color: rgb(155, 143, 143);
	border-radius: 4px;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.x {
	position: absolute;
	top: 7px;
	right: 7px;
	font-size: 30px;
	transform: rotate(45deg);
	cursor: pointer;
}
.demo-card-square{
  flex-basis: max-content;
  margin: auto;
  padding: 10px;
}
.mdl-textfield{
  width: 250px;
}
.mdl-textfield label{
  margin: 0;
}
.mdl-button{
  margin: 0 3px;
}
.mdl-card>p:last-child{
  margin: 20px 0 0 0;
  text-align: center;
}
a:link, a:visited, a:active {
  color:#0066CC;
}