.request-form 
    {
        position: relative;
        border: 1px solid blue;
        background-color: white;
        height: 0%;
        border-color: teal;
        box-shadow: 2px 2px white;
        top: 3em;
        left :30%;
        height: 50%;
        width: 50%;
        align-content: center;
    }

div.mdl-layout__drawer
{
  border: none;
}

.request-form label{
    
        text-align: center;
        font-family :Tahoma, sans-serif;
        text-size-adjust: 20px;
        text-transform: uppercase;
        color: rgb(26, 26, 27);
        width: 72%;
        margin-bottom: 0rem;
        font-weight: 500;
      
      
}
h4,p {
    color: rgb(27, 148, 108);
    text-align: center;
  }

textarea {
    height: 60px;
    width: 350px;
  }
.mdl-grid
{
    padding: 0%;
}
.request-form .specs
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
.request-form input[type= text] , .device ,select{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.request-form input[type=submit] {
    width: 50%;
    background-color:  rgb(27, 148, 108);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;   
  }
  