.request-form 
    {
        position: relative;
        top: 3em;
        left :30%;
        height: 50%;
        width: 42%;
        align-content: center;
        padding: 15px;
        
    }
    nav.mdl-navigation a:hover {
      text-decoration: none;
    }

    select{
      text-align-last: center;
    }

div.mdl-layout__drawer
{
  border: none;
}

.request-form label{
    
        text-align: center;
        font-family :Tahoma, sans-serif;
        text-size-adjust: 20px;
        text-transform: uppercase;
        color: rgb(26, 26, 27);
        width:100%;
        margin-bottom: 0rem;
        font-weight: 500;
      
      
}
h4,p {
    color:black;
    text-align: center;
    
  }
  p{
 margin-bottom: 0rem;
  }

textarea {
    height: 60px;
    width: 100%;
   
  }
.request-form .mdl-grid
{
    padding: 0%;
    margin: 0rem;
}
.request-form .specs
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
.request-form input[type= text] , .device ,select{
    width:100%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
body{
  background-color: #eeeeee;
}
  