#card,
table {
	margin-top: 20px;
	margin-left: 40px;
}
#card {
	font: 1.5em sans-serif;
	width: 300px;
	height: 200px;
	color: black;
	align-items: center;
	text-decoration: black;
}
th[colspan] {
	text-align: center;
}
nav.mdl-navigation a:hover {
	text-decoration: none;
  }

:any-link{
	color: #000;
	text-decoration: none;
}
html,
body {
	position: relative;
}
body * {
	position: relative;
}
.ss {
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	letter-spacing: 2px;
	font-style: italic;
	text-align: center;
	width: 350px;
	height: 400px;
	margin: 5px 15px;
}
.heading {
	color: blue;
	font-style: italic;
	text-align: center;
}
.users {
	text-align: center;
	text-shadow: rosybrown;
}
.RegisterForm {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 80%;
	display: none;
	z-index: 200;
	background-color: #fff;
}
.RegisterForm .container {
	background-color: #eee;
}
.RegisterForm.active {
	display: block;
}
td > .mdl-switch {
	/* Need this to correctly align the switch inside TD */
	width: unset;
	margin-right: 13px;
}
* {
	box-sizing: border-box;
}
body {
	font-family: Roboto, Helvetica, sans-serif;
}
/* Fix the button on the left side of the page */
.open-btn {
	display: flex;
	justify-content: left;
}
/* Style and fix the button on the page */
.open-button {
	background-color: #1c87c9;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
}
div.mdl-layout__drawer {
	border: none;
}
/* .userForm {
position: absolute;
text-align: left;
width: 100%;

} */

/* Hide the Popup form */
/* .form-popup{
display: none;
position: relative;
left: 50%;
top: 1%;
transform: translate(-45%, 5%);
border: 2px solid rgb(0, 77, 192);
z-index: 9;

} */


.form-popup {
	max-width: 850;
	padding: 20px;
	background-color: #fff;
	height: fit-content;
	position: absolute;
	border: 2px solid rgb(0, 77, 192);
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 101;
	margin: auto;
}
.userForm{
	position: absolute;
	text-align: left;
	height: 100%;
	width: 100%;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.7);
	display: none;
}
.userForm.active,
.userForm.active .form-popup {
	display: block;
}
/* Style submit/login button */
.form-popup .btn {
	background-color: #8ebf42;
	color: #fff;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
}
/* Style cancel button */
.form-popup .cancel {
	background-color: #cc0000;
}
/* Hover effects for buttons */
.form-popup .btn:hover,
.open-button:hover {
	opacity: 1;
}
.mdl-badge--overlap {
	cursor: pointer;
}
.popup {
	width: 100%;
	height: 100%;
	opacity: 1;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
