.form1 {
	border:2px solid grey;  background-color: #f2f2f2;
	justify-content: center;
		align-content: center;
		border-radius: 5px;
		position: relative;
		display:inline-block;
		margin: 0 auto;
	}

.form1 label{

text-align: right;
float: left;
}

.form1 input{

text-align: left;
float: right;
}
.devices,.material-icons{
	 cursor: pointer; 
}
  .mdl-layout__content {
    overflow-x: auto;
}
div.mdl-layout__drawer
{
  border: none;
}
.mdl-card
{   position: absolute;
	visibility: hidden;
	box-shadow:3px 3px 3px 3px rgba(0,0,0,0.16);
	background-color: #f4f7f8;
}
.cards:hover .mdl-card{
    
		visibility: visible;
	
    
}
* {
	box-sizing: border-box;
}

body {
	font-family: Roboto, Helvetica, sans-serif;
}

/* Fix the button on the left side of the page */
.open-btn {
	display: flex;
	justify-content: left;
}

/* Style and fix the button on the page */
.open-button {
	background-color: #1C87C9;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
}

/* Position the Popup form */
.login-popup {
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.7);
	display: none;
}
a,a:link,a:visited{
	text-decoration: none;
}

/* Hide the Popup form */
.form-popup {
	max-width: 350;
	padding: 20px;
	background-color: #fff;
	height: fit-content;
	position: absolute;
	border: 2px solid rgb(0, 77, 192);
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 101;
	margin: auto;
}
.login-popup.active,
.login-popup.active .form-popup {
	display: block;
}
/* Styles for the form container */
.form-container {
	max-width: 300px;
	padding: 20px;
	background-color: #fff;
}

/* Full-width for input fields */
.form-container input[type=text],
.form-container input[type=password] {
	width: 100%;
	padding: 10px;
	margin: 5px 0 22px 0;
	border: none;
	background: #eee;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

/* Style submit/login button */
.form-container .btn {
	background-color: #8EBF42;
	color: #fff;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
}

/* Style cancel button */
.form-container .cancel {
	background-color: #CC0000;
}

/* Hover effects for buttons */
.form-container .btn:hover,
.open-button:hover {
	opacity: 1;
}
.tooltip {
	position: relative;
	display: inline-block;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }